#eventsList {
    width: 65%; /* Establece el ancho deseado para las tarjetas en standard screen*/
    margin: 0 auto;
}

/* medium screens */
@media (max-width: 992px) {
    #eventsList {
        width: 80%;
        margin: 0 auto;
    }
}

/* small screens */
@media (max-width: 768px) {
    #eventsList {
        width: 90%;
        margin: 0 auto;
    }
}