#footer {
  font-family: Kaushan Script;
  background-color: #FBC103;
  color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer a {
  margin: 0 50px; /* Agregué un poco de margen en los elementos del navbar */
}