/* LOGIN - REGISTER */
.form-signin {
  max-width: 540px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: transparent;
  color: whitesmoke;
  transition: color 0.5s ease, border 0.5s ease, background-color 0.5s ease;
  text-align: center;
  border-radius: 10px;
}

.light-mode .form-signin {
  color: black;
  background-color: rgba(211, 211, 211, 0.5);
  border: 1px solid #B53457;
}

.form-signin-footer {
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

#terms {
  margin: 0 auto !important;
  text-align: center !important;
  margin-bottom: 30px !important;
}

#name,
#surname,
#email,
#username,
#password,
#rpassword,
#signup {
  margin-bottom: 20px;
}