/* HOME */
#events,
#profile {
  width: 65%; /* Establece el ancho deseado para las tarjetas */
  margin: 0 auto 80px; /* Centra horizontalmente y agrega un margen inferior de 80px */
}

#map {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  align-items: center;
}

#events .card-body h3.card-title,
#profile .card-body h3.card-title {
  text-align: center;
}

#events .card-body a.btn-primary,
#profile .card-body a.btn-primary {
  display: block; /* Change display to block to center horizontally */
  margin: 10px auto 10px auto; /* Center horizontally with some vertical spacing */
}