/* Default (dark) mode logo image */
.logo {
  height: 25vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Light mode logo image */
.light-mode .logo {
  content: url(../../../public/img/K0N3CT4LTransparent.png);
}