/* Default (dark) mode logo image */
.logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  height: auto; /* Auto height to maintain aspect ratio */
}

/* Light mode logo image */
.light-mode .logo {
  content: url(../../../public/img/K0N3CT4LTransparent.png);
}