/*------ NAVBAR ------*/
#nav {
  font-family: Kaushan Script;
  background-color: #FBC103 !important;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 25px; /* Agregué un poco de margen en los elementos del navbar */
}

.nav-link {
  text-decoration: none; /* Remove underlines from links */
  color: black; /* Set link color */
}

.nav-link:hover {
  color: #B53457;
}

/*------ THEME DARK-LIGHT ------*/
.dark-mode-toggle {
  color: black;
  display: flex; /* Display its contents horizontally */
  align-items: center; /* Vertically center the contents within the navbar */
  cursor: pointer; /* Change cursor to pointer on hover for better usability */
  height: 40px; /* Adjust the height as needed */
  margin: 0 5px; /* Add margin to create spacing */
  color: black;
}

input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: black;
  appearance: none; /*para quitarle la propiedad de caja*/
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  margin-left: 5px;
  margin-right: 5px;
}

input[type="checkbox"]:checked {
  background-color: #B53457;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: whitesmoke;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 1s ease;
}

input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

.light-mode {
  background-color: white;
  color: black;
}