.card {
    margin-bottom: 20px;
    width: auto;
}

.profile-personal, 
.profile-about-me,
.profile-hobbies {
    background-color: #403f3f;
    transition: background-color 0.5s ease, color 0.5s ease;
    padding: 20px;
    border-radius: 10px;
    color: whitesmoke;
    margin-bottom: 20px;
}

.light-mode .profile-personal, 
.light-mode .profile-about-me,
.light-mode .profile-hobbies {
    background-color: lightgray;
    color: black;
}

.button-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}