@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  font-family: Kaushan Script;
  background-color: black;
}

h1 {
  text-align: center;
  color: whitesmoke;
}

.card {
  border: #19E7ED solid 1px;
}

.btn {
  background-color: #B53457;
  color: whitesmoke;
  padding: 1% 5% 1% 5%;
}
